services:
  vizarr:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: vizarr
    container_name: vizarr
    restart: ${DOCKER_RESTART_POLICY:-unless-stopped}
    ports:
      - "${VIZARR_PORT:-3000}:80"
